<p id="notice"><%= notice %></p>
<div class="body">
  <h1 id="title"><strong>Articles</strong></h1>
  <div id="separator"></div>

      <% @articles.order(:id).each do |article| %>
      	<a href='/articles/<%= article.id %>'>
          <h2><strong><%= article.titre %></strong></h2>
        </a>
      <% end %>
</div>
