<% content_for :meta_title, "Articles, fictions et résumés - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Comp'Arts est un site communautaire participatif pour le développement de l'univers artistique Bordelais. Accédez aux articles et interviews" %>

<p id="notice"><%= notice %></p>
<div class="body">
  <h1 id="title"><strong>Articles</strong></h1>
  <div id="separator"></div>

      <% @articles.order(:id).each do |article| %>
      	<a href='/articles/<%= article.id %>'>
          <h2><strong><%= article.titre %></strong></h2>
        </a>
      <% end %>
</div>
