<p id="notice"><%= notice %></p>
<div id="showBody">
  <h1 id="title">
    <%= @article.titre %>
  </h1>

  <p id=articleP>
    <%= @article.contenu %>
  </p>

  <%= link_to 'Back', articles_path %>
</div>
