<% content_for :meta_title, "A propos de nous - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Une description de la nouvelle plateforme artistique de Bordeaux. Développez votre réseau musical ou découvrez votre nouvel artiste favori." %>
<!-- mots clés potentiels: Bordeaux, jeune, artiste -->
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<div id="about"><h1><strong>Bienvenue dans l’univers Comp’arts</strong></h1>
<div id="separator"></div>
<p>
    <strong>Amateurs d'arts</strong> à la recherche d'événements artistiques près de vous...
    <br>
    <strong>Artistes</strong> en mal d'une salle d'exposition, d'un lieu où vous produire...
    <br>
    <strong>Professionnels</strong> souhaitant dynamiser vos activités et mettre à disposition des moyens matériels aux artistes...
</p>

<h2>Comp’Arts s’adresse à vous pour faciliter votre vie !</h2>

<p>Plus qu’une plateforme de mise en relation des différents acteurs du champ artistique, c’est un tremplin pour permettre à chacun de développer ses activités et sa notoriété.</p>

<h3>L'Art de rassembler les artistes dans une jungle urbaine</h3>

<p>L'aventure est née d'une équipe confrontée aux besoins des artistes et des amateurs d'arts à la recherche d'événements atypiques. De l'auteur à l'observateur, en passant par le pourvoyeur d'un lieu et de matériel, Comp'Arts se veut à la croisée des problématiques posées par la diffusion d'un art.</p>
<ul>
    <li>Comment trouver facilement un événement artistique pour sortir à Bordeaux ou dans ses environs ?</li>
    <li>Quel est le plus simple biais pour dénicher une location, de salle d’expositions ou de concerts, à Bordeaux ?</li>
    <li>Est-ce possible de découvrir aisément une potentielle animation de bar à Bordeaux, originale et attrayante, pour se différencier de la concurrence ?</li>
</ul>
<h3>Chacun ses besoins, chacun son Comp’Arts</h3>
<p>Pour nos Compers, le grand public, Comp’Arts est un véritable guide permettant de prendre connaissance en un clic des offres artistiques disponibles sur l’ensemble de la métropole bordelaise. Evénements, expositions, musique, peinture, gravure… Tout type de création et de divertissement artistique est référencé via notre plateforme.</p>
<p>Pour les artistes, Comp’Arts est l’outil de choix pour trouver une location de salle d’exposition ou tout autre espace qui serait potentiellement muni de matériel artistique. La plateforme établit à cet effet un lien entre artistes et pourvoyeurs. Mais la véritable plus-value de Comp’Arts réside en réalité dans son accessibilité : la plateforme est ouverte à tous les niveaux de maîtrise et domaines artistiques. Ainsi, un musicien amateur comme un professionnel peuvent profiter des services proposés !</p>
<p>Pour les proposeurs, c’est le moyen de trouver un vaste panel d’animations diverses et variées pour donner une nouvelle dimension à leurs activités et offrir facilement aux artistes les moyens d’exprimer leur art. Donner l’occasion à un artiste de se produire, c’est une façon de dynamiser une soirée dans un bar par exemple, et participer ainsi à la vie locale de Bordeaux. Comp’Arts souligne cet enrichissement pour l’invité comme pour l’hôte en permettant à chacun de trouver ce qui lui convient.</p>
<h3>Un compas à la veine artistique</h3>
<p>Une carte interactive qui recense les événements et offres de divertissement artistiques disponibles dans Bordeaux et ses alentours, allant du Climax festival à la soirée open-mic d’un bar, en passant par le Bordeaux Open Air ou bien les expositions proposées par les musées bordelais.</p>
<p>Un outil combiné à un carnet d’adresses de professionnels, prêts à accueillir des événements artistiques, et d’artistes, qui n’attendent que l’occasion de partager leur art avec un public. Ainsi, louer un espace pour y pratiquer une activité artistique ou trouver une animation originale pour son commerce n’aura jamais été aussi simple.</p>
<h3>Comp’Arts, en un mot...</h3>
<p>L’alliance du Compas et des Arts : Comp’Arts, une plateforme artistique virtuelle, incarne autant un guide artistique bordelais pour nos Compers, qu'un créateur de liens entre artistes et professionnels.</p>