<% content_for :meta_title, "A propos de nous - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Une courte description de la nouvelle plateforme artistique de Bordeaux." %>
<!-- mots clés potentiels: Bordeaux, jeune, artiste -->
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<div id="about"><h1><strong>Bienvenue dans l’univers Comp’arts !</strong></h1>
<div id="separator"></div>
<h2>Tout d’abord, qui sommes nous ?</h2>

<p>Nous, c’est la team Comp’arts. Nous sommes 9 étudiants en Dut MMI ( Multimédia Métiers de l’Internet) et ce projet c’est NOTRE PROJET. C’est celui que nous tentons de mener à bien depuis bientôt 2 ans. Celui qui nous motive et qui nous anime.</p>

<h2>Qu’est-ce donc?</h2>

<p>Comp’arts c’est avant tout un site d’entraide. Notre idée de base provenait de tous les artistes que recense Bordeaux, qui n’arrivent pas à émerger, malgré leurs talents. Nous avons donc imaginé la première plateforme artistique bordelaise.</p>


<p>Le but de Comp’arts est simple, d’un côté :  un carnet d’adresses géant, de professionnels prêt à accueillir des évènements artistiques, et d’artistes qui n’attendent qu’une occasion de se produire. Et de l’autre, une carte interactive qui recense des évènements, des lieux d'intérêts, et bien plus encore. Ainsi, contacter un artiste, ou connaître les lieux d’animation n’auras jamais été aussi simple.</p>

<h2>Quels genres d'événements sur Comp’arts ?</h2>

<p>Alors vous vous demandez sûrement quels genres de rencontres seront répertoriées dans Comp’arts. Et bien toutes ! Du Climax festival, à la soirée open-mic d’un bar, en passant par le bordeaux open air ou bien les musées ouvert et les expositions qu’ils proposent.</p>

<p>Mais il ne faut pas non plus oublier les évènements que VOUS proposez. En effet Comp’arts est participatif, et vous permet, de créer vos propres évènements, et de profiter du réseau Comp’arts pour le promouvoir.</p>

<h2>D’accord, les artistes et les professionnels sont mis en avant… Mais vous ?</h2>

<p>Et bien vous, vous bénéficiez de tout ça en même temps. Vous voulez sortir ce soir ? Connectez-vous à Comp’arts et choisissez ou vous irez. En revenant de la soirée, vous voulez rester en contact avec le ou les artistes que vous venez de voir ? Aucuns soucis, retrouvez les facilement, et ajoutez les à votre liste de favoris.</p></div>