<div id="about"><h1><strong>Page About</strong></h1>
<div id="separator"></div>
<p>Cette page est consacrée à une rapide présentation de notre projet, Comp'arts. Nous sommes sept étudiants à l'Institut Universitaire Technologique de Bordeaux Montaigne, en DUT Métiers du Multimédia et de l'Internet. Nous créons Comp'arts dans le cadre de nos études.

Nous avons développé Comp'arts pour apporter une solution à la problématique "comment être artiste à bordeaux" posée en cours. Pour y répondre, nous avons donc pensé une plateforme de partage et de création d'évènements culturels.

Ainsi, nous devenons la plateforme idéale pour les artistes, les professionnels ou les amateurs de culture.

Concerts, expositions, vernissage, "open-mic" ou bien pièces de théâtre, vous pouvez tout planifier à l'avance

Carte des événements culturels
Artiste jouant de la guitare
En tant qu'artiste, vous pouvez créer votre profil, en y ajoutant votre photo de profil, extraits (musique ou photo), une description. Puis vous pouvez directement chercher un établissement qui pourra vous proposer d'exposer ou de réaliser un concert.
Si vous êtes propriétaire de cet établissement, vous pouvez vous connecter en tant que pro, et votre bar, salle d'exposition etc sera visible par les artistes.

Enfin, si vous le souhaitez, vous pouvez vous inscrire en tant qu'utilisateur pour avoir la possibilité d'utiliser notre carte intéractive et suivre les artistes que vous aurai découvert.</p></div>
