<% content_for :meta_title, "Contactez nous - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Description" %>
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<h1> Je suis la page contact ! </h1>
