<% content_for :meta_title, "Accueil - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Comp'Arts est la nouvelle plateforme artistique de Bordeaux, découvrez artistes et groupes, trouvez un lieu pour jouer vos morceaux" %>
<!-- mots clés potentiels Plateforme artistique, Bordeaux, diffuser, découvrir, promouvoir -->
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<h2 id="discover">Découvrez & vivez</h2>
<h1 id="plate">La plateforme artistique<br>de Bordeaux</h1>
