<% content_for :meta_title, "Homepage" %>
<% content_for :meta_description, "Description" %>
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<h1>Artistes à découvrir</h1>
<% @artists.each do |a| %>
	<% if a[:role_id] == 'Artiste' %>
 	<%= link_to 'Voir son profil', user_path(a.id) %>
 	<%= a.email %>
 	<br><br>
	<% end %>
<% end %>