/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=Raleway')

html
  min-height: 100%
body
  min-height: 100%
  background-image: image-url("background.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  font-family: Raleway

#nav
  display: flex
  flex-direction: row
  justify-content: center
  text-align: center
  font-size: 22px
  margin-top: 20px
  text-shadow: 2px 2px 1px black

.nav
  width: 10%

.nav:hover
  background-color: black

a:hover
  text-decoration: none
  color: white

a
  text-decoration: none
  color: white

a:visited
  text-decoration: none
  color: white

#brand
  width: 30%
  text-align: left

#logo
  width: 250px

#connect
  width: 30%
  text-align: right

h2
  margin-top: 17%
  color: #2C99CE
  text-shadow: 2px 2px 2px black

h1
  color: white
  text-shadow: 2px 2px 2px black

footer
  border: 1px solid black
  position: absolute
  bottom: 0%
  width: 100%
