<footer>
	<div class="footer">
		<div class="icon"><a href="https://www.instagram.com/comp_artsbdx/"><%= image_tag "instagram.png" %></a></div>
		<div class="icon"><a href="https://www.facebook.com/Comparts-1232468420159586/"><%= image_tag "facebook-logo.png" %></a></div>
		<div class="icon"><a href="https://twitter.com/Comparts_bdx"><%= image_tag "twitter-logo.png" %></a></div>
	</div>
</footer>
